In [1]:
import scipy
from scipy.stats import chi2
from scipy.stats import poisson

In [2]:
import pandas as pd
import numpy as np

In [6]:
data=pd.read_excel("C:/Users/shrey/OneDrive/Documents/Train arrivals.xlsx")
data

    serial nos.  Arrivals in 1 minute interval  Frequency
0             0                              0          0
1             1                              1          1
2             2                              2          4
3             3                              3         10
4             4                              4         14
5             5                              5         20
6             6                              6         12
7             7                              7         12
8             8                              8          9
9             9                              9          8
10           10                             10          6
11           11                             11          3
12           12                             12          1

In [7]:
observed_frequency= data['Frequency']

In [8]:
observed_frequency

0      0
1      1
2      4
3     10
4     14
5     20
6     12
7     12
8      9
9      8
10     6
11     3
12     1
Name: Frequency, dtype: int64

In [16]:
total_arrival= 600
total_time_period=100
mu=total_arrival/total_time_period
mu

6.0

In [17]:
expected_frequency=[]
for i in range(len(observed_frequency)):
    exp_frequency=100*poisson.pmf(i,mu)
    expected_frequency.append(exp_frequency)

In [18]:
expected_frequency

[0.24787521766663584,
 1.4872513059998145,
 4.461753917999444,
 8.923507835998894,
 13.385261753998332,
 16.062314104797995,
 16.06231410479801,
 13.767697804112569,
 10.32577335308442,
 6.883848902056284,
 4.130309341233764,
 2.2528960043093247,
 1.1264480021546681]

In [19]:
expected_frequency_decimal_round_off=[round(elem,2)for elem in expected_frequency]
expected_frequency_decimal_round_off

[0.25,
 1.49,
 4.46,
 8.92,
 13.39,
 16.06,
 16.06,
 13.77,
 10.33,
 6.88,
 4.13,
 2.25,
 1.13]

In [20]:
df=pd.DataFrame(list(zip(observed_frequency,expected_frequency_decimal_round_off)),columns=['Observed Frequency','Expected Frequency'])
df

    Observed Frequency  Expected Frequency
0                    0                0.25
1                    1                1.49
2                    4                4.46
3                   10                8.92
4                   14               13.39
5                   20               16.06
6                   12               16.06
7                   12               13.77
8                    9               10.33
9                    8                6.88
10                   6                4.13
11                   3                2.25
12                   1                1.13

In [21]:
obs_frequency=[5,10,14,20,12,12,9,8,10]
exp_frequency=[6.20,8.92,13.39,16.06,16.06,13.77,10.33,6.88,8.39]
#we have to add the values so made 1 interval by adding

In [22]:
scipy.stats.chisquare(obs_frequency,exp_frequency)

Power_divergenceResult(statistic=3.2738182931105193, pvalue=0.916017731732134)

In [23]:
#test statistic results we got.
#the p value is 0.92(approx) which is greater than the significance level 0.05 so we have to accept our null hypothesis

In [24]:
#so we can conclude the given dataset follow poisson distribution